.MainBannerList {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 540px;
  position: relative;

  > li.swiper-content {
    position: absolute;
    top: 0;
    left: 0;

    $duration: 0.3s;
    &.from-next {
      @keyframes slide-next {
        from {
          transform: translateX(1920px);
        }

        to {
          transform: translateX(0);
        }
      }
      animation-name: slide-next;
      animation-duration: $duration;
    }

    &.from-prev {
      @keyframes slide-prev {
        from {
          transform: translateX(-1920px);
        }

        to {
          transform: translateX(0);
        }
      }
      animation-name: slide-prev;
      animation-duration: $duration;
    }

    &.to-next {
      @keyframes slide-to-next {
        from {
          transform: translateX(0);
          visibility: visible;
        }

        to {
          transform: translateX(1920px);
        }
      }
      animation-name: slide-to-next;
      animation-duration: $duration;
      visibility: hidden;
    }

    &.to-prev {
      @keyframes slide-to-prev {
        from {
          transform: translateX(0);
          visibility: visible;
        }

        to {
          transform: translateX(-1920px);
        }
      }
      animation-name: slide-to-prev;
      animation-duration: $duration;
      visibility: hidden;
    }

    &.hidden {
      visibility: hidden;
    }
  }
}
